<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR" />
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR_SYSTEM" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />

    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:required="true"
        android:version="0x401000" />
    <uses-feature
        android:name="oculus.software.handtracking"
        android:required="false" />

    <!-- OpenXR runtime discovery for Khronos loader -->
    <queries>
        <provider android:authorities="org.khronos.openxr.runtime_broker;org.khronos.openxr.system_runtime_broker" />
        <intent>
            <action android:name="org.khronos.openxr.OpenXRRuntimeService" />
        </intent>
    </queries>

    <application
        android:name=".CemuApplication"
        android:allowBackup="true"
        android:appCategory="game"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cemu">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".emulation.EmulationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="userLandscape"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- Regular 2D emulation - removed VR categories -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.wud" />
                <data android:pathPattern=".*\\.wux" />
                <data android:pathPattern=".*\\.wua" />
                <data android:pathPattern=".*\\.wuhb" />
                <data android:pathPattern=".*\\.iso" />
                <data android:pathPattern=".*\\.elf" />
                <data android:pathPattern=".*\\.rpx" />
                <!--
                TODO?
                <data android:pathPattern=".*/title.tmd" />
                -->
            </intent-filter>
        </activity>

        <!-- VR-specific activity for Meta Quest OpenXR rendering -->
        <activity
            android:name=".emulation.VREmulationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.wud" />
                <data android:pathPattern=".*\\.wux" />
                <data android:pathPattern=".*\\.wua" />
                <data android:pathPattern=".*\\.wuhb" />
                <data android:pathPattern=".*\\.iso" />
                <data android:pathPattern=".*\\.elf" />
                <data android:pathPattern=".*\\.rpx" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.DocumentsProvider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <!-- Meta Quest XR metadata -->
        <meta-data android:name="com.oculus.handtracking.frequency" android:value="LOW" />
        <meta-data android:name="com.oculus.handtracking.supported" android:value="true" />
        <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0" />
        <meta-data android:name="com.oculus.supportedDevices" android:value="quest|quest2|cambria|quest3" />
    </application>
</manifest>